<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autoquest</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" href="../static/assets/favicon.png">
</head>
<body>
    <section class="nav">
        <div>
            <img src="../static/assets/logo.png">
        </div>
        <a href="https://devpost.com/software/autoquest">Devpost</a>
        <div id="devpost"></div>
    </section>
    <section class="back">
    </section>
    <section class="title">
        <div>Turn the search for your next car into an adventure</div>
    </section>
    <section class="subtitle">
        <div>Find your perfect car with AutoQuest, even if you don't know where to start.</div>
    </section>
    <section class="start">
        <a class="text" href="/form/">Start Your Quest</a>
        <div id="button"></div>
    </section>
</body>
</html>